In [1]:
import pandas as pd
import numpy as np
np.random.seed(1234)

In [2]:
df = pd.read_csv('C:/Users/user/mywork/insure.csv')
df.head()

,id,target,car_01_cat,car_02_cat,car_03_cat,car_04_cat,car_05,car_06,car_07_cat,car_08_cat,...,idx_14,idx_15_bin,idx_16_bin,idx_17,idx_18,idx_19,idx_20,loc_01,loc_02,loc_03
0,C000000,0,4,-1,0,12,3.316625,0.370810,1,1,...,7,0,0,0,3,7,1,0.6,0.7,0.878564
1,C000001,0,0,1,0,39,2.449490,0.374433,1,1,...,11,0,1,0,6,8,1,0.6,0.6,0.981708
2,C000002,0,0,-1,2,100,3.464102,0.423084,1,1,...,11,0,0,0,1,8,3,0.2,0.9,0.495606
3,C000003,0,9,1,0,93,3.741657,0.316228,0,0,...,7,0,0,3,3,8,4,1.8,0.9,2.066549
4,C000004,0,0,0,1,104,3.741657,0.430116,1,0,...,6,0,0,1,1,7,4,0.0,0.4,0.740355

In [3]:
df = df.drop('id', axis='columns')
df.head()

,target,car_01_cat,car_02_cat,car_03_cat,car_04_cat,car_05,car_06,car_07_cat,car_08_cat,car_09,...,idx_14,idx_15_bin,idx_16_bin,idx_17,idx_18,idx_19,idx_20,loc_01,loc_02,loc_03
0,0,4,-1,0,12,3.316625,0.370810,1,1,0.754792,...,7,0,0,0,3,7,1,0.6,0.7,0.878564
1,0,0,1,0,39,2.449490,0.374433,1,1,0.614780,...,11,0,1,0,6,8,1,0.6,0.6,0.981708
2,0,0,-1,2,100,3.464102,0.423084,1,1,0.815665,...,11,0,0,0,1,8,3,0.2,0.9,0.495606
3,0,9,1,0,93,3.741657,0.316228,0,0,1.068114,...,7,0,0,3,3,8,4,1.8,0.9,2.066549
4,0,0,0,1,104,3.741657,0.430116,1,0,1.509768,...,6,0,0,1,1,7,4,0.0,0.4,0.740355

In [4]:
#df.car_02_cat.fillna('UNK', inplace=True)
#df.car_14_cat.fillna('UNK', inplace=True)
#df.isnull().sum()

In [5]:
df.car_01_cat.value_counts()
df.car_02_cat.value_counts()
df.car_03_cat.value_counts()
df.car_04_cat.value_counts()
df.car_07_cat.value_counts()
df.car_08_cat.value_counts()
df.car_12_cat.value_counts()
df.car_13_cat.value_counts()
df.car_14_cat.value_counts()
df.car_15_cat.value_counts()
df.car_16_cat.value_counts()

 1    387281
 0     21386
-1      8045
Name: car_16_cat, dtype: int64

In [6]:
df.cus_01_bin.value_counts()
df.cus_03_bin.value_counts()
df.cus_04_bin.value_counts()
df.cus_06_bin.value_counts()
df.cus_07_bin.value_counts()
df.cus_08_bin.value_counts()
df.cus_10_cat.value_counts()
df.cus_11_bin.value_counts()
df.cus_12_bin.value_counts()
df.cus_14_cat.value_counts()
df.cus_15_bin.value_counts()
df.cus_16_cat.value_counts()
df.cus_17_bin.value_counts()
df.cus_18_bin.value_counts()

0    309901
1    106811
Name: cus_18_bin, dtype: int64

In [7]:
df.idx_05_bin.value_counts()
df.idx_06_bin.value_counts()
df.idx_13_bin.value_counts()
df.idx_15_bin.value_counts()
df.idx_16_bin.value_counts()

0    352846
1     63866
Name: idx_16_bin, dtype: int64

In [8]:
y = df.target
df = df.drop('target', axis = 'columns')
df.head()

,car_01_cat,car_02_cat,car_03_cat,car_04_cat,car_05,car_06,car_07_cat,car_08_cat,car_09,car_10,...,idx_14,idx_15_bin,idx_16_bin,idx_17,idx_18,idx_19,idx_20,loc_01,loc_02,loc_03
0,4,-1,0,12,3.316625,0.370810,1,1,0.754792,3,...,7,0,0,0,3,7,1,0.6,0.7,0.878564
1,0,1,0,39,2.449490,0.374433,1,1,0.614780,1,...,11,0,1,0,6,8,1,0.6,0.6,0.981708
2,0,-1,2,100,3.464102,0.423084,1,1,0.815665,0,...,11,0,0,0,1,8,3,0.2,0.9,0.495606
3,9,1,0,93,3.741657,0.316228,0,0,1.068114,3,...,7,0,0,3,3,8,4,1.8,0.9,2.066549
4,0,0,1,104,3.741657,0.430116,1,0,1.509768,2,...,6,0,0,1,1,7,4,0.0,0.4,0.740355

In [1]:
pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\user\anaconda3\lib\site-packages (0.21.2)
Requirement already satisfied: joblib>=0.11 in c:\users\user\anaconda3\lib\site-packages (from scikit-learn) (0.13.2)
Requirement already satisfied: scipy>=0.17.0 in c:\users\user\anaconda3\lib\site-packages (from scikit-learn) (1.2.1)
Requirement already satisfied: numpy>=1.11.0 in c:\users\user\anaconda3\lib\site-packages (from scikit-learn) (1.16.4)
Note: you may need to restart the kernel to use updated packages.

In [8]:
from sklearn.preprocessing import MinMaxScaler

In [9]:
scaler = MinMaxScaler()
df = pd.DataFrame(scaler.fit_transform(df), columns=df.columns)
df.describe().T
df.head()

,car_01_cat,car_02_cat,car_03_cat,car_04_cat,car_05,car_06,car_07_cat,car_08_cat,car_09,car_10,...,idx_14,idx_15_bin,idx_16_bin,idx_17,idx_18,idx_19,idx_20,loc_01,loc_02,loc_03
0,0.235294,0.0,0.000000,0.106796,0.886405,0.837701,1.0,1.0,0.145294,1.00,...,0.5,0.0,0.0,0.0,0.230769,0.291667,0.111111,0.333333,0.777778,0.372883
1,0.000000,1.0,0.000000,0.368932,0.654654,0.839915,1.0,1.0,0.104945,0.50,...,0.9,0.0,1.0,0.0,0.461538,0.333333,0.111111,0.333333,0.666667,0.393356
2,0.000000,0.0,0.222222,0.961165,0.925820,0.869645,1.0,1.0,0.162837,0.25,...,0.9,0.0,0.0,0.0,0.076923,0.333333,0.333333,0.111111,1.000000,0.296868
3,0.529412,1.0,0.000000,0.893204,1.000000,0.804345,0.5,0.0,0.235589,1.00,...,0.5,0.0,0.0,0.3,0.230769,0.333333,0.444444,1.000000,1.000000,0.608690
4,0.000000,0.5,0.111111,1.000000,1.000000,0.873943,1.0,0.0,0.362867,0.75,...,0.4,0.0,0.0,0.1,0.076923,0.291667,0.444444,0.000000,0.444444,0.345449

In [10]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(df, y, test_size=0.3, stratify = y)

In [11]:
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier

In [12]:
lr = LogisticRegression()
knn = KNeighborsClassifier()
dt = DecisionTreeClassifier()

In [13]:
lr_param = {'solver':['newton-cg', 'lbfgs', 'liblinear', 'sag','saga'],
            'C' : np.concatenate([np.arange(1,101)/100, np.arange(1,11)*10])}

In [14]:
knn_param = {'n_neighbors':np.arange(1,201),
             'weights' : ['uniform','distance'],
             'p' : np.arange(10, 21)/10}

In [15]:
dt_param = {'criterion':['gini','entropy'],
            'max_depth': np.arange(1,31)}

In [16]:
from sklearn.model_selection import RandomizedSearchCV

In [17]:
lr_best = RandomizedSearchCV(estimator=lr, param_distributions=lr_param, n_iter=15, cv=5, scoring='roc_auc', refit=True, n_jobs=-1)
knn_best = RandomizedSearchCV(estimator=knn, param_distributions=knn_param, n_iter=15, cv=5, scoring='roc_auc', refit=True, n_jobs=-1)
dt_best = RandomizedSearchCV(estimator=dt, param_distributions=dt_param, n_iter=15, cv=5, scoring='roc_auc', refit=True, n_jobs=-1)

In [ ]:
lr_best.fit(x_train, y_train)
knn_best.fit(x_train, y_train)
dt_best.fit(x_train, y_train)

In [ ]:
print(lr_best.best_params_)
print(knn_best.best_params_)
print(dt_best.best_params_)

In [ ]:
lr_best = lr_best.best_estimator_
knn_best = knn_best.best_estimator_
dt_best = dt_best.best_estimator_

In [ ]:
pd.Series(lr_best.coef_[0], index=x_train.columns)

In [ ]:
def plot_feature_importances(model):
    n_features = x_train.shape[1]
    plt.barh(range(n_features), model.feature_importances_, align='center')
    plt.yticks(np.arange(n_features), x_train.columns)
    plt.xlabel("Feature Importance")
    plt.ylabel("Features")
    plt.ylim(-1, n_features)
    plt.show()

plot_feature_importances(dt_best)

In [ ]:
from sklearn.ensemble import VotingClassifier

In [ ]:
hard_vot = VotingClassifier(estimators=[('LR', lr_best), ('KNN', knn_best), ('DT', dt_best)], voting='hard')
soft_vot = VotingClassifier(estimators=[('LR', lr_best), ('KNN', knn_best), ('DT', dt_best)], voting='soft')

In [ ]:
hard_vot.fit(x_train, y_train)
soft_vot.fit(x_train, y_train)

In [ ]:
from sklearn.metrics import roc_auc_score
models = [lr_best, knn_best, dt_best, hard_vot, soft_vot]
for model in models:
    pred = model.predict(x_test)
    name = model.__class__.__name__
    print('{0} 정확도: {1:.4f}'.format(name, roc_auc_score(y_test, pred)))

In [ ]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier()

In [ ]:
rf_param = {'n_estimators':np.arange(2,101),
            'max_depth':np.arange(1,31),
            'criterion':['gini','entropy']}

In [ ]:
rf_best = RandomizedSearchCV(estimator=rf, param_distributions=rf_param, n_iter=15, cv=5, scoring='roc_auc', refit=True, n_jobs=-1)
rf_best.fit(x_train, y_train)
print(rf_best.best_params_)
rf_best = rf_best.best_estimator_

In [ ]:
{'n_estimators': 95, 'max_depth': 8, 'criterion': 'entropy'}

In [ ]:
models = [lr_best, knn_best, dt_best, hard_vot, soft_vot, rf_best]
for model in models:
    pred = model.predict(x_test)
    name = model.__class__.__name__
    print('{0} 정확도: {1:.4f}'.format(name, roc_auc_score(y_test, pred)))

In [ ]:
f_imp = rf_best.feature_importances_
f_imp = pd.Series(f_imp, index=x_train.columns)
f_imp = f_imp.sort_values(ascending=False)
f_imp

In [ ]:
plt.figure(figsize=(8,6))
sns.barplot(x=f_imp, y=f_imp.index);

In [ ]:
from sklearn.ensemble import AdaBoostClassifier
ada = AdaBoostClassifier(base_estimator=dt_best)

In [ ]:
ada_param = {'n_estimators' : np.arange(2, 101),
             'learning_rate' : np.arange(1,101)/100,
             'algorithm': ['SAMME','SAMME.R']}

In [ ]:
ada_best = RandomizedSearchCV(estimator=ada, param_distributions=ada_param, n_iter=15, cv=5, scoring='roc_auc', refit=True, n_jobs=-1)
ada_best.fit(x_train, y_train)
print(ada_best.best_params_)
ada_best = ada_best.best_estimator_

In [ ]:
models = [lr_best, knn_best, dt_best, hard_vot, soft_vot, rf_best, ada_best]
for model in models:
    pred = model.predict(x_test)
    name = model.__class__.__name__
    print('{0} 정확도: {1:.4f}'.format(name, roc_auc_score(y_test, pred)))

In [ ]:
from sklearn.ensemble import GradientBoostingClassifier
gb = GradientBoostingClassifier()

In [ ]:
gb.fit(x_train, y_train)
#gb_best = RandomizedSearchCV(estimator=gb, param_distributions=gb_param, n_iter=15, cv=5, scoring='roc_auc', refit=True, n_jobs=-1)
#gb_best.fit(x_train, y_train)
#print(gb_best.best_params_)
#gb_best = gb_best.best_estimator_

In [ ]:
models = [lr_best, knn_best, dt_best, hard_vot, soft_vot, rf_best, ada_best, gb]
for model in models:
    pred = model.predict(x_test)
    name = model.__class__.__name__
    print('{0} 정확도: {1:.4f}'.format(name, roc_auc_score(y_test, pred)))

In [ ]:
models = [lr_best, knn_best, dt_best, hard_vot, soft_vot, rf_best, ada_best, gb]
score = []
names = []
for model in models:
    pred = model.predict(x_test)
    name = model.__class__.__name__
    score.append(roc_auc_score(y_test, pred))
    names.append(name)
results = pd.Series(score, index=names)
results

In [ ]:
plt.figure(figsize=(8,6))
g = sns.barplot(x=results.index, y=results)
g.set_xticklabels(labels=results.index, rotation=90);